<footer class="site-footer">

  <div class="wrapper" style="text-align: center">

    <!-- LinkedIn -->
    {% if site.linkedin_username %}
    
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin fa-2x"></i></a>
    
    {% endif %}

    <!-- GitHub -->
    {% if site.github_username %}

    <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-2x"></i></a>
    
    {% endif %}

    <!-- Instagram -->
    {% if site.instagram_username %}

    <a href="https://instagram.com/{{ site.instagram_username }}"><i class="fa fa-instagram fa-2x"></i></a>

    {% endif %}

    <!-- Twitter -->
    {% if site.twitter_username %}
    
    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-2x"></i></a>

    {% endif %}

  </div>

</footer>
