---
layout: default
---

<div class="home">
  
  {{ content }}

  {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}

    <ul class="post-list">
      <h2>{{ category | first }}</h2>
      
      {% for post in site.categories[category_name] %}
      <li>
        <div>
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <div style="float:right;"><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></div>
        </div>
      </li>
      {% endfor %}
    </ul>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
